@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    background-color: lightgrey;
}

.navbar {
    background-color: black;
    display: flex;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100px;
    width: 100vw;
}

.navbar img {
    width: 100px;
    height: 100px;
    justify-self: left !important;
    margin-left: 10px;
}

.navbar h1 {
    justify-self: left;
    color: white;
    font-family: 'Montserrat';
    height: 30px;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
}

#container {
    margin-left: 2vw;
    display: grid;
    place-items: left !important;
}

.votebutton img{
    height: 30px;
    width: 30px;
}


.votebutton a {
    height: 30px;
    width: 30px;

}

#person {
    width: 180px;
    height: 200px;
    margin-top: 20px;
    border-radius: 20%;
    background-color: black;
    float: left;
    display: grid;
    place-items: center;
}

.name {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    width: fit-content;
}

#voteup {
    width: 30px;
    margin-right: 80px;
    transform: translateY(165px);

}

#votedown {
    width: 30px;
    margin-left: 80px;
    place-self: right !important;
}

.votesdisplay {
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}